.panel{
    height: 38px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width:70%;
    font-weight: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}